body {
  /*background-color: lightgray;*/
}

.form-login {
  margin: 60px auto 0;
  max-width: 330px;
  padding: 15px;
}

.header-nav {
  margin-bottom: 0 !important;
}

.jumbotron-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.post-panel-body {

}

.panel-footer {
  background-color: white !important;
  border-top: 1px solid #ddd !important;
}

.panel-footer-button-toolbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.user-panel-body {
  display: flex;
  flex-flow: row wrap;
}

.user-panel-body img {
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  border-radius: 100%;
}

.user-info-wrapper {
  padding: 0 15px;
  flex-grow: 1;
}

.user-info-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}

.user-info-row > :first-child {
  font-weight: bold;
  margin-right: 10px;
  margin-bottom: 10px;
}
