<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html">
  <h:head>
    <title>Kwetter admin</title>
    <h:outputStylesheet name="style.css" />
  </h:head>
  <h:body>
    <b:navBar fluid="true" styleClass="header-nav">
      <b:navbarLinks pull="right" styleClass="hidden-xs">
        <b:form class="navbar-form navbar-left hidden-md hidden-sm hidden-xs">
          <b:commandButton
            look="primary btn-block"
            value="logout"
            icon="log-out"
            size="s"
            action="#{adminController.logout}" />
        </b:form>
      </b:navbarLinks>
    </b:navBar>

    <b:container fluid="true" styleClass="jumbotron-wrapper">
      <b:jumbotron>
        <h1>Admin control</h1>
      </b:jumbotron>
    </b:container>
    <b:container>
      <b:panelGrid colSpans="8,4" size="sm">
        <b:panel title="Kwetters" showCollapseLink="true" look="default">
          <c:forEach var="post" items="#{adminController.allPosts}">
            <b:panel>
              <div class="post-panel-body">
                <h5>#{post.poster.username}</h5>
                <p>#{post.content}</p>
                <h:outputText value="#{post.dateTime}" >
                  <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
                </h:outputText>
                <f:facet name="footer">
                  <h:form>
                    <div class="panel-footer-button-toolbar">
                      <b:commandButton
                        look="danger"
                        icon="trash"
                        value=""
                        action="#{adminController.deletePost(post.id)}" />
                    </div>
                  </h:form>
                </f:facet>
              </div>
            </b:panel>
          </c:forEach>
        </b:panel>
        <b:panel title="Users" showCollapseLink="true" look="default">
          <c:forEach var="user" items="#{adminController.users}">
            <b:panel>
              <div class="user-panel-body">
                <b:image name="test" value="#{user.imageUrl}" />
                <div class="user-info-wrapper">
                  <div class="user-info-row">
                    <span>Username: </span>
                    <span>#{user.username}</span>
                  </div>
                  <div class="user-info-row">
                    <span>Role: </span>
                    <span>#{user.role.role}</span>
                  </div>
                </div>
                <div class="user-info-row">
                  <span>Web: </span>
                  <span>#{user.web}</span>
                </div>
                <div class="user-info-row">
                  <span>Bio: </span>
                  <span style="width: 100%">#{user.bio}</span>
                </div>
              </div>
              <f:facet name="footer">
                <h:form>
                  <div class="panel-footer-button-toolbar">
                    <b:commandButton
                      look="danger"
                      icon="trash"
                      value=""
                      style="margin-right: 10px"
                      action="#{adminController.deleteUser(user.id)}" />
                    <b:commandButton
                      look="warning"
                      icon="pencil"
                      value="switch role"
                      action="#{adminController.switchUserRole(user.id)}" />
                  </div>
                </h:form>
              </f:facet>
            </b:panel>
          </c:forEach>
        </b:panel>
      </b:panelGrid>
    </b:container>
  </h:body>
</html>
