<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
  <h:head>
    <title>Kwetter admin login</title>
    <h:outputStylesheet name="style.css" />
  </h:head>
  <h:body>
    <b:container>
      <h:form id="login-form" styleClass="form-login" prependId="false">
        <h2 class="form-signin-heading">Admin login</h2>
        <b:inputText
          id="username"
          placeholder="Username"
          name="username"
          autocomplete="off"
          value="#{loginController.username}">
          <f:facet name="prepend">
            <b:icon name="user" />
          </f:facet>
        </b:inputText>
        <b:inputText
          id="password"
          placeholder="Password"
          name="password"
          type="password"
          autocomplete="off"
          value="#{loginController.password}">
          <f:facet name="prepend">
            <b:iconAwesome name="key" />
          </f:facet>
        </b:inputText>
        <b:commandButton
          look="primary btn-block"
          value="login"
          icon="log-in"
          size="s"
          action="#{loginController.submitLogin}" />
          <b:messages />
      </h:form>
    </b:container>
  </h:body>
</html>
